In [21]:
from pathlib import Path
raw_data_path = Path("../data/raw")
text_dataset = Path("../data/preprocessed/text_only.csv")
image_dataset = Path("../data/preprocessed/image_only.csv")
preprocessed_file = Path("../data/preprocessed/text-and-image-generated.csv")

In [22]:
import pandas as pd
if not preprocessed_file.exists():
    main_df = pd.DataFrame(columns=["text", "image_name", "blocked"])
else: 
    main_df = pd.read_csv(preprocessed_file)

In [23]:
def display_label_stats(df) -> None:
    display(df.loc[:, df.columns == "blocked"].value_counts().reset_index(name="count"))

In [24]:
import pandas as pd


texts = pd.read_csv(text_dataset)  
images = pd.read_csv(image_dataset)
blocked_texts = texts[texts['blocked'] == 1]
non_blocked_texts = texts[texts['blocked'] == 0]
blocked_images = images[images['blocked'] == 1]
non_blocked_images = images[images['blocked'] == 0]

In [25]:
def generate_combinations(images:pd.DataFrame, texts:pd.DataFrame, count:int) -> pd.DataFrame:
    image_sample = images.sample(n=count, replace=True,random_state=42)
    text_sample = texts.sample(n=count, replace=True, random_state=42)
    return pd.DataFrame({
        'image_name': image_sample['image_name'].values,
        'text': text_sample['text'].values,
        'blocked': 1
    })

In [26]:
main_df = pd.concat([
    generate_combinations(blocked_images, non_blocked_texts, 2500),
    generate_combinations(non_blocked_images, blocked_texts, 2500),
    ], ignore_index=True).drop_duplicates().dropna()
main_df

,image_name,text,blocked
0,e621v31112.jpg,"перевела 945 р с карты 1311, в 18.34. передать...",1
1,e621v31672.jpg,вперед сибирь.,1
2,e621v31470.jpg,"правила хорошие... но, видимо, не совсем идеал...",1
3,e621v31416.jpg,"блин, они еще и советы дают. я по их совету с ...",1
4,e621v32156.jpg,ливень !,1
...,...,...,...
4995,e621v31327.jpg,называю чертей отказывающихся от своей родины ...,1
4996,e621v31178.jpg,"дура шизонутая, тварь, что за родители воспита...",1
4997,e621v31431.jpg,сука!7 лет в жопе и всё трезубы делают))во ист...,1
4998,e621v33143.jpg,"мочить не задуматься, взять его так же за шею ...",1
4999,e621v33544.jpg,"ещё добавить в жопу, веселей бедет украинская ...",1

In [27]:
preprocessed_file.parent.mkdir(exist_ok=True)
main_df.to_csv(preprocessed_file, index=False)