In [6]:
import pandas as pd
from pathlib import Path


raw_data_path = Path("../data/raw")
preprocessed_file = Path("../data/preprocessed/dataset.csv")

In [7]:
if not preprocessed_file.exists():
    main_df = pd.DataFrame(columns=["text", "image_path" "toxic"])
else: 
    main_df = pd.read_csv(preprocessed_file)

# s-nlp/ru_paradetox_toxicity

In [ ]:
from vk_mod.data.download import load_from_huggingface


load_from_huggingface("s-nlp/ru_paradetox_toxicity")
temp_df = pd.read_csv(Path(raw_data_path, "ru_paradetox_toxicity.csv"))
temp_df.head(5)

   Unnamed: 0                                            neutral  toxic
0           0  –í–æ—Ç –∏ –¥–æ–≤–µ–ª–∏ —Å–µ–±—è –¥–æ —Å–∞—Ö–∞—Ä–Ω–æ–≥–æ –¥–∏–∞–±–µ—Ç–∞ –≤—Ç–æ—Ä–æ–≥–æ...  False
1           1  –ú–æ–π—â–∏–∫ –º–∞—à–∏–Ω—É –ø–µ–Ω–æ–π –∑–∞–ª–∏–ª, –∞ —Ö–æ–∑—è–∏–Ω –≤–∏–Ω–æ–≤–∞—Ç? –ü...  False
2           2                –ö–∞–∫–æ–π —Å–æ–≤–µ—Ç –º–æ–∂–µ—Ç –¥–∞—Ç—å —ç—Ç–∞ –¥–µ–≤—É—à–∫–∞?  False
3           3                    –ó–∞—á–µ–º –±—Ä–∞—Ç—å —Ç–æ–ø–æ—Ä –∏ —É–±–∏–≤–∞—Ç—å —Ç–æ?  False
4           4  –¢–∞–∫–æ–π –∂–µ –∫–∞–∫ –∏ –î–µ–≥—Ç—è—Ä–µ–≤. –î—Ä—É–≥–∏–º–∏ —Å–ª–æ–≤–∞–º–∏ –æ–±–∞ —Ä...  False

In [9]:
temp_df.rename(columns={"neutral": "text"}, inplace=True)
temp_df.dropna(subset=["text", "toxic"], inplace=True)
main_df = pd.concat([main_df, temp_df])
display(main_df)

,text,toxic,image_path,Unnamed: 0
0,NaN,1,e621v30.jpg,NaN
1,NaN,1,e621v31.jpg,NaN
2,NaN,1,e621v32.jpg,NaN
3,NaN,0,e621v33.jpg,NaN
4,NaN,1,e621v34.jpg,NaN
...,...,...,...,...
6349,"–Ø —Å–µ–π—á–∞—Å –±–µ—Ç–æ–Ω –∑–∞–ª–∏–≤–∞—é,–∞ —Ç—ã –ø—É—Å—Ç–æ–±—Ä–µ—Ö,–±–µ–∑ –∏–∑–≤–∏...",1,NaN,6349.0
6350,–ì–ª—É–ø—ã—Ö –≤–µ–∑–¥–µ —Ö–≤–∞—Ç–∞–µ—Ç. –ú–∞—Ä–∫–∏—Ä–æ–≤–∞—Ç—å –±—ã –∏—Ö –∫–∞–∫-–Ω–∏...,1,NaN,6350.0
6351,–¢–æ–≥–¥–∞ –±—ã –≤—Å–µ –∫—Ä–æ–º–µ —Ä—É—Å—Å–∫–∏—Ö –≤–µ–ª–∏ –±—ã —Å–µ–±—è –Ω–æ—Ä–º–∞–ª...,0,NaN,6351.0
6352,"–û—Ç–∫—É–¥–∞ —Å—Ç–æ–ª—å–∫–æ –≤ 21 –≤–µ–∫–µ —Ä–µ–ª–∏–≥–∏–æ–∑–Ω—ã—Ö –ª—é–¥–µ–π, –æ–±...",0,NaN,6352.0
6353,"–ê–≥–∞, –≤ —Å–Ω–µ–≥—É –ø–æ –ø–æ—è—Å, –ø–æ —Ç–∞–π–≥–µ, —Å–∫—Ä—ã—Ç–Ω–æ. –¢—ã —á—Ç...",0,NaN,6353.0

# marriamaslova/toxic_dvach

In [10]:
load_from_huggingface("marriamaslova/toxic_dvach")
temp_df = pd.read_csv(Path(raw_data_path, "toxic_dvach.csv"))
temp_df.head(5)

   Unnamed: 0                                            comment  toxic
0           0               –í–µ—Ä–±–ª—é–¥–æ–≤-—Ç–æ –∑–∞ —á—Ç–æ? –î–µ–±–∏–ª—ã, –±–ª...\n    1.0
1           1  –•–æ—Ö–ª—ã, —ç—Ç–æ –æ—Ç–¥—É—à–∏–Ω–∞ –∑–∞—Ç—é–∫–∞–Ω–æ–≥–æ —Ä–æ—Å—Å–∏—è–Ω–∏–Ω–∞, –º–æ–ª...    1.0
2           2                          –°–æ–±–∞–∫–µ - —Å–æ–±–∞—á—å—è —Å–º–µ—Ä—Ç—å\n    1.0
3           3  –°—Ç—Ä–∞–Ω–∏—Ü—É –æ–±–Ω–æ–≤–∏, –¥–µ–±–∏–ª. –≠—Ç–æ —Ç–æ–∂–µ –Ω–µ –æ—Å–∫–æ—Ä–±–ª–µ–Ω–∏...    1.0
4           4  —Ç–µ–±—è –Ω–µ —É–±–µ–¥–∏–ª 6-—Å—Ç—Ä–∞–Ω–∏—á–Ω—ã–π –ø–¥—Ñ –≤ —Ç–æ–º, —á—Ç–æ –°–∫—Ä...    1.0

In [11]:
temp_df.rename(columns={"comment": "text"}, inplace=True)
temp_df.dropna(subset=["text", "toxic"], inplace=True)
main_df = pd.concat([main_df, temp_df])
display(main_df)

,text,toxic,image_path,Unnamed: 0
0,NaN,1.0,e621v30.jpg,NaN
1,NaN,1.0,e621v31.jpg,NaN
2,NaN,1.0,e621v32.jpg,NaN
3,NaN,0.0,e621v33.jpg,NaN
4,NaN,1.0,e621v34.jpg,NaN
...,...,...,...,...
14407,–í–æ–Ω—é—á–∏–π —Å–æ–≤–∫–æ–≤—ã–π —Å–∫–æ—Ç –ø—Ä–∏–±–µ–∂–∞–ª –∏ –Ω–æ–µ—Ç. –ê –≤–æ—Ç –∏...,1.0,NaN,14407.0
14408,–ê –∫–æ–≥–æ –ª—é–±–∏—Ç—å? –ì–æ–±–ª–∏–Ω–∞ —Ç—É–ø–æ—Ä—ã–ª–æ–≥–æ —á—Ç–æ-–ª–∏? –ò–ª–∏ ...,1.0,NaN,14408.0
14409,"–ü–æ—Å–º–æ—Ç—Ä–µ–ª –£—Ç–æ–º–ª–µ–Ω–Ω—ã—Ö —Å–æ–ª–Ω—Ü–µ–º 2. –ò –æ–∫–∞–∑–∞–ª–æ—Å—å, —á...",0.0,NaN,14409.0
14410,–ö–†–´–ú–û–¢–†–ï–î –ù–ê–†–£–®–ê–ï–¢ –ü–†–ê–í–ò–õ–ê –†–ê–ó–î–ï–õ–ê –¢.–ö –í –ù–ï–ú –ù...,1.0,NaN,14410.0
14411,–î–æ —Å–∏—Ö –ø–æ—Ä –ø–µ—Ä–µ—Å–º–∞—Ç—Ä–∏–≤–∞—é –µ–≥–æ –≤–∏–¥–µ–æ. –û—Ä–∞–º–±–æ –∫—Å—Ç...,0.0,NaN,14411.0

# textdetox/multilingual_toxicity_dataset

In [12]:
load_from_huggingface("textdetox/multilingual_toxicity_dataset", split="ru")
temp_df = pd.read_csv(Path(raw_data_path, "multilingual_toxicity_dataset.csv"))
temp_df.head(5)

   Unnamed: 0                                               text  toxic
0           0  —è —Å–µ–≥–æ–¥–Ω—è –ø—Ä–æ–µ–∑–∂–∞–ª–∞ –ø–æ —Ä–∞–±–æ—á–µ–π –∏ –º–µ–∂–¥—É –¥–æ–º–∞–º–∏ ...      0
1           1  –º–æ–∂–µ—Ç, —è –∏ –æ—à–∏–±–ª–∞—Å—å, –Ω–æ –Ω–µ–æ–±—ã—á–Ω—ã–π –æ–∫—Ä–∞—Å –±—Ä–æ—Å–∏–ª...      0
2           2  –∑–∞—á–µ–º –ø—Ä–∏–¥—É–º—ã–≤–∞—Ç—å –æ—á–µ—Ä–µ–¥–Ω–æ–π –Ω–∞–ª–æ–≥ –Ω–∞ –≤–æ–∑–¥—É—Ö, –µ...      0
3           3  —Ä–µ—Ç—Ä–æ –¥–µ–∂–∞–≤—é ... —Å–ª–æ–∂–Ω–æ –ø–æ–Ω—è—Ç—å —á—É–∂–æ–µ —Å–µ—Ä–¥—Ü–µ , ...      0
4           4  2 –∞–≤–≥—É—Å—Ç–∞ –ø–æ–∑–¥–Ω–æ –≤–µ—á–µ—Ä–æ–º –Ω–∞—à–ª–∏ –≤–æ—Ç —Ç–∞–∫—É—é –ø–æ—Ç–µ—Ä...      0

In [13]:
temp_df = temp_df.dropna(subset=["text", "toxic"])
main_df = pd.concat([main_df, temp_df])
display(main_df)

,text,toxic,image_path,Unnamed: 0
0,NaN,1.0,e621v30.jpg,NaN
1,NaN,1.0,e621v31.jpg,NaN
2,NaN,1.0,e621v32.jpg,NaN
3,NaN,0.0,e621v33.jpg,NaN
4,NaN,1.0,e621v34.jpg,NaN
...,...,...,...,...
4995,–∞ –≥–¥–µ —Ç—ã –≤–∏–¥–∏—à—å —á—Ç–æ —è –ø—Ä–æ –∂–æ–ø—É –≥–æ–≤–æ—Ä—é?,1.0,NaN,4995.0
4996,–∞ —ç—Ç–æ —Ç—ã —Ç–æ–ª—å–∫–æ –ø—Ä–æ –∂–æ–ø—É –ø—Ä–æ –ø–µ–¥–∏–∫–æ–≤ –≥–æ–≤–æ—Ä–∏—à.,1.0,NaN,4996.0
4997,—Ö –∞–≥—Ç—É–≥–∫–∏–≥–∫–æv –∑—á –µ—Å–ª–∏ –∞—Ä–º—è–Ω–∏–Ω –Ω–∞–∑–≤–∞–ª —Ç–µ–±—è –¥—Ä—É–≥...,1.0,NaN,4997.0
4998,–Ω—É –∫—Ç–æ –∂–µ —Ä–∞–±–æ—Ç–∞–µ—Ç –≤ —ç—Ç–æ–º —Ç–∏–ø–∏—á–Ω–æ–µ –æ–¥–∏–Ω—Ü–æ–≤–æ......,1.0,NaN,4998.0
4999,"–æ—â—É—â–µ–Ω–∏–µ, —á—Ç–æ —Ä—É–ª—è—Ç —ç—Ç–∏–º –º–æ–ª–æ–¥—ã–µ –ª—é–¥–∏ –ª–µ—Ç 20-2...",1.0,NaN,4999.0

# AlexSham/Toxic_Russian_Comments

## train split

In [14]:
load_from_huggingface("AlexSham/Toxic_Russian_Comments")
temp_df = pd.read_csv(Path(raw_data_path, "Toxic_Russian_Comments.csv"))
temp_df.head()

   Unnamed: 0                                               text  label
0           0  –≤–∏–¥–∏–º–æ –≤ —Ä–∞–∑–Ω—ã—Ö —Ä–µ–≥–∏–æ–Ω–∞—Ö –Ω–∞–∑—ã–≤–∞—é—Ç –ø–æ —Ä–∞–∑–Ω–æ–º—É ,...      0
1           1  –ø–æ–Ω—è—Ç–Ω–æ —á—Ç–æ —ç—Ç–æ –Ω–∞—Ä—É—à–µ–Ω–∏–µ –ø—Ä–∞–≤–∏–ª, –ø–∏—Å–∞—Ç—å –∫–∞–ø—Å–ª...      1
2           2                –∫–∞–∫–∏–µ –∫–ª–∞—Å—Å–Ω—ã–µ, –∂–∏–∑–Ω–µ–Ω–Ω—ã–µ —Å—Ç–∏—Ö–∏....      0
3           3                 –∞ –∏ –ø—Ä–∞–≤–¥–∞-–∫–æ–≥–¥–∞ –µ–≥–æ –∑–∞–ø—Ä–µ—Ç–∏–ª–∏?...      0
4           4  –≤ —Å–æ–ª–µ–Ω–æ–π –≤–æ–¥–µ –≤–∏—Ä—É—Å—ã –∂–∏–≤—É—Ç .—É—á–µ–Ω—ã–µ –∏–∑—É—á–∞–ª–∏ —Å–æ...      0

In [15]:
temp_df.rename(columns={"label": "toxic"}, inplace=True)
temp_df.dropna(subset=["text", "toxic"], inplace=True)
main_df = pd.concat([main_df, temp_df])
display(main_df)

,text,toxic,image_path,Unnamed: 0
0,NaN,1.0,e621v30.jpg,NaN
1,NaN,1.0,e621v31.jpg,NaN
2,NaN,1.0,e621v32.jpg,NaN
3,NaN,0.0,e621v33.jpg,NaN
4,NaN,1.0,e621v34.jpg,NaN
...,...,...,...,...
223456,–≤–æ–≤–∞ - –¥–∏–º–∞ –∫–æ–≥–¥–∞ –∂–µ –≤—ã –ø–æ–¥–∞–≤–∏—Ç–µ—Å—å –¥–µ–Ω—å–≥–∞–º–∏???...,0.0,NaN,223456.0
223457,"–∫–∞–∫–∞—è –∫—Ä–∞—Å–æ—Ç–∞, –ø—Ä–æ—Å—Ç–æ –Ω–µ—Ç —Å–ª–æ–≤ –≤—ã—Ä–∞–∑–∏—Ç—å —á—É–≤—Å—Ç–≤...",0.0,NaN,223457.0
223458,–≤—ã –ø–æ—Å—Ç –≥–∞–∏ –≤—ã—Å—Ç–∞–≤–∏—Ç–∏ –Ω–∞ –ø–µ—Ä–µ–∫—Ä–µ—Å—Ç–∫–µ –≤–æ–∑–ª–µ 21 ...,0.0,NaN,223458.0
223459,–∫–∞–∫ -—Ç–æ –Ω–∞ –ª–µ–±–µ–¥–µ–π –Ω–µ–ø–æ—Ö–æ–∂–∏,0.0,NaN,223459.0
223460,–∏–Ω—Ç–µ—Ä–µ—Å–Ω–æ —á–µ–π —ç—Ç–æ —Å–∞–º–æ–ª–µ—Ç!,0.0,NaN,223460.0

## test split

In [16]:
load_from_huggingface("AlexSham/Toxic_Russian_Comments", split="test")
temp_df = pd.read_csv(Path(raw_data_path, "Toxic_Russian_Comments.csv"))
temp_df.head()

   Unnamed: 0                                               text  label
0           0                                      —Ö–æ—Ä–æ—à–æ –ø–æ—à–ª–æ!      0
1           1  –ø–æ—Å–º–æ—Ç—Ä–µ–ª–∞, –∫–∞–∫ –±—É–¥—Ç–æ –¥–æ–º–∞ –ø–æ–±—ã–≤–∞–ª–∞. –∫–∞–∫ —Ä–µ–∫–∞ ...      0
2           2              –æ—Ç–¥–∞–º –∫–æ—Ç—è—Ç 1,5 –º–µ—Å—è—Ü–∞ –≤ –¥–æ–±—Ä—ã–µ —Ä—É–∫–∏.      0
3           3  0,5–ª–∏—Ç—Ä–æ–≤–∞—è –±–∞–Ω–æ—á–∫–∞ 200—Ä —Å—Ç–æ–∏—Ç –≤ —Ç–∞–≥–∞–Ω—Ä–æ–≥–µ. —Ç–∞...      0
4           4         —Ä–µ—á—å —à–ª–∞ –æ —Ä–∞–¥—É–∂–Ω—ã—Ö –∑–æ–Ω—Ç–∏–∫–∞—Ö –Ω–∞–¥ –≤–µ—Ä–∞–Ω–¥–æ–π.      0

In [17]:
temp_df.rename(columns={"label": "toxic"}, inplace=True)
temp_df.dropna(subset=["text", "toxic"], inplace=True)
main_df = pd.concat([main_df, temp_df])
display(main_df)

,text,toxic,image_path,Unnamed: 0
0,NaN,1.0,e621v30.jpg,NaN
1,NaN,1.0,e621v31.jpg,NaN
2,NaN,1.0,e621v32.jpg,NaN
3,NaN,0.0,e621v33.jpg,NaN
4,NaN,1.0,e621v34.jpg,NaN
...,...,...,...,...
24824,–∏ —Ç—ã –±—É–¥—å –∑–¥–æ—Ä–æ–≤,0.0,NaN,24824.0
24825,–Ω–µ –¥–æ—Ä–æ–≥–∞ –∞ –ø—Ä—è–º —Å—Ç–µ–∫–ª–æ –Ω–æ –ø—Ä–∞–≤–¥–∞ –±–∏—Ç–æ–µ (h),0.0,NaN,24825.0
24826,—Å–ø–∞—Å–∏–±–æ –±–æ–ª—å—à–æ–µ. –±—É–¥—É –∂–¥–∞—Ç—å —Ö–æ—Ä–æ—à–∏—Ö –Ω–æ–≤–æ—Å—Ç–µ–π. ...,0.0,NaN,24826.0
24827,–∞–∫—Ç–∏–≤–∏—Ä—É—é —É—Å—Ç–∞–Ω–æ–≤–∫—É üåàüåàüåàüëçüòéüî•üî•üî•,0.0,NaN,24827.0
24828,"–∞ –≤—ã –∫—É—Ä—Å —Ä–æ—Å—Å–∏–π—Å–∫–æ–≥–æ —Ä—É–±–ª—è –≤–∏–¥–µ–ª–∏, –∫–æ—à–º–∞—Ä!!!",0.0,NaN,24828.0

# Final

## Clean

In [18]:
main_df = (main_df
           .drop("Unnamed: 0", axis=1, errors="ignore")
           .drop_duplicates())

In [19]:
main_df['toxic'] = main_df['toxic'].astype(int)

## Save

In [20]:
def display_label_stats(df) -> None:
    display(df.loc[:, df.columns == "toxic"].value_counts().reset_index(name="count"))

display_label_stats(main_df)
print(main_df.shape)

   toxic   count
0      0  220275
1      1   54910

(275185, 3)

In [21]:
preprocessed_file.parent.mkdir(exist_ok=True)
main_df.to_csv(preprocessed_file, index=False)